:root {
  --pantone: #be3455;
  --sand-dollar: #ede8ba;
  --border-color: #dcdcdc;
  --fs-400: 0.5rem;
  --fs-500: 0.8rem;
  --fs-600: 1.35rem;
  --fs-large: 1.25rem;
  --body-height: 95vh;
  --nav-height: 55px;
  --header-height: 10%;
  --input-width: 40ch;
  --button-width: 20ch;
}

@media (min-width: 40em) {
  :root {
    --fs-400: 0.7rem;
    --fs-500: 0.8rem;
    --fs-600: 1.4rem;
    --fs-large: 1.75rem;
  }
}

* {
  box-sizing: border-box;
}

.content {
  margin-top: var(--nav-height);
  max-height: calc(95vh - var(--nav-height));
  /* max-height: calc(80% - var(--nav-height)); */
  display: flex;
  flex-wrap: wrap;
}

button {
  background-color: var(--pantone);
  border: none;
  padding: 0.3rem;
  width: var(--button-width);
}

.spinner-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding: 0.3rem;
  width: 30ch;
}
.tb-container {
  overflow: auto;
  padding: 20px 0;
  height: calc(0.5 * var(--body-height));
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.button {
  border-radius: 2px;
  color: white;
}

.header {
  height: var(--header-height);
  padding: 1rem;
  margin: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  font-size: var(--fs-large);
  background-color: ghostwhite;
}

.date-container {
  width: 100%;
}

.select-container {
  display: flex;
}

.select-container .input {
  width: 100%;
}

.select-container > div {
  margin-top: auto;
  padding: 20px 0;
}

@media (min-width: 40em) {
  .select-container .input {
    width: var(--input-width);
  }
}
